body {
  background-color: #000000;
}

#clock {
  display: flex;
  justify-content: center;
  margin-top: 20%;
  font-size: 100px;
  font-weight: bold;
  font-family: fantasy;
  color: rgb(180, 180, 180);
}
